* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary-pale-blue:hsl(225, 100%, 94%);
    --clr-primary-bright-blue: hsl(245, 75%, 52%);

    --clr-neutral-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue:  hsl(223, 47%, 23%);


}

body, p {
    font-size: 16px;
}